challenge11/target/classes/challenge11.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="9011" doc:name="HTTP Listener Configuration"/>
    <flow name="challenge11Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="Message Body before Queueing=============#[message]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.get('message')]" doc:name="Set Payload"/>
        <logger message="Message Body before Queueing=============#[message]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint queue="TestQueue" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    <flow name="challenge11Flow1">
        <jms:inbound-endpoint queue="TestQueue" connector-ref="Active_MQ" doc:name="JMS"/>
        <message-filter doc:name="Message">
            <wildcard-filter pattern="India*" caseSensitive="true"/>
        </message-filter>
        <logger message="Message Body after Queueing=============#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
