databasehandling/target/classes/databasehandling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8001" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="DataBaseCnnector" doc:name="Oracle Configuration" host="dbc-pdv-2015-vip.cisco.com" instance="DV3CSF.cisco.com" password="refrig3r8" port="1542" user="APPS"/>
    <flow name="databasehandlingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/database" doc:name="HTTP"/>
        <db:select config-ref="DataBaseCnnector" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from XX_EMPLOYEES_TEST  where ROWNUM <= 5]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <file:outbound-endpoint path="C:\Users\ramsunka\AnypointStudio\filedemo" outputPattern="employee.json" responseTimeout="10000" doc:name="File"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
