challenge10/src/main/app/challenge10.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    
    <spring:beans>
    	<spring:bean name="invokeSample"  class="com.demo.entrypoint.InvokeSample">
    	</spring:bean>
    </spring:beans>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="9010" doc:name="HTTP Listener Configuration"/>
    <flow name="challenge10Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <invoke object-ref="invokeSample" method="ReturnPayload" methodArguments="#[message.inboundProperties.'http.query.params'.number]" doc:name="Invoking Java class"/>
    </flow>
</mule>
